# Test output
test_report_*.txt
test_results_*.json

# Logs
*.log
kb_service/
kb_default/
kb_data/
logs/
kb_storage/
data/
venv/

.env
agent/__pycache__/
agent/agent/
filebrowser_data/database.db
filebrowser_data/settings.json
filegator_data